<div class="jumbotron">
  <h1 class="display-4">Welcome to teacher's portal</h1>
  <p class="lead">Manage all the teacher data at one place.</p>
  <hr class="my-4">
  <p>Click on the button to get started.</p>
  <a class="btn btn-primary btn-lg" href="/teachers" role="button" method="GET">Get teacher's data</a>
</div>